{% extends "nav.html" %}

{% block content %}
{% load static %}  

<!-- Contact Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="mx-auto text-center mb-5" style="max-width: 500px;">
            <h6 class="text-primary text-uppercase">Contact Us</h6>
            <h1 class="display-5">Get In Touch</h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-12">
                <div class="bg-primary h-100 p-5">
                    <div class="row g-4">
                        <div class="col-md-4">
                            <div class="bg-light d-flex flex-column justify-content-center p-4">
                                <h5 class="text-primary">Office Location</h5>
                                <p class="m-0"><i class="fa fa-map-marker-alt text-primary me-2"></i>Jamkhandi, Karnataka, India</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="bg-light d-flex flex-column justify-content-center p-4">
                                <h5 class="text-primary">Call Us</h5>
                                <p class="m-0"><i class="fa fa-phone-alt text-primary me-2"></i>+012 345 67890</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="bg-light d-flex flex-column justify-content-center p-4">
                                <h5 class="text-primary">Email Us</h5>
                                <p class="m-0"><i class="fa fa-envelope-open text-primary me-2"></i>support@croprecommendation.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->

{% endblock %}
